services:
  frontend:
    image: ghcr.io/fsbcg-ubt/lasuite-docs/frontend:v3.10.0
    user: "101"
    env_file:
      - environment/common
    depends_on:
      backend:
        condition: service_healthy

  backend:
    image: ghcr.io/fsbcg-ubt/lasuite-docs/backend:v3.10.0
    user: ${DOCKER_USER:-1000}
    restart: always
    env_file:
      - environment/common
      - environment/backend
      - environment/yprovider
      - environment/database
    healthcheck:
      test: ["CMD", "python", "manage.py", "check"]
      interval: 15s
      timeout: 30s
      retries: 20
      start_period: 10s
    depends_on:
      database:
        condition: service_healthy
        restart: true
      redis:
        condition: service_started
      mail-gateway:
        condition: service_started

  y-provider:
    image: ghcr.io/fsbcg-ubt/lasuite-docs/y-provider:v3.10.0
    user: ${DOCKER_USER:-1000}
    env_file:
      - environment/common
      - environment/yprovider

  database:
    image: postgres:16
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 1s
      timeout: 2s
      retries: 300
    env_file:
      - environment/database
    volumes:
      - database_data:/var/lib/postgresql/data/pgdata

  redis:
    image: redis:8.4

  mail-gateway:
    image: kran0/davmail-docker:6.5.1
    env_file:
      - environment/davmail

volumes:
  database_data: